body {
    background-image: url("toka.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
div {
    background-color: lightblue;
    border: 1px solid gray;
    min-height: 200px;
    max-width: 500px;
    padding: 8px;
    box-sizing: border-box;
    text-align: justify;
}

div.first {
    opacity: 0.1;
}

div.second {
    opacity: 0.3;
}

div.third {
    opacity: 0.6;
}

p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

p {
  white-space: nowrap;
}

p.one {
  word-spacing: 10px;
}

p.two {
  word-spacing: -2px;
}
p.three {
    border-style: solid;
    border-width: 25px 10px 4px 35px; /* 25px top, 10px right, 4px bottom and 35px left */
}

p.four {
    border-style: dotted;
    border-width: thick;
    border-color: blue;
}

p.five {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
}

h1 {
  letter-spacing: 5px;
}

h2 {
  letter-spacing: -2px;
}
  
  h3 {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }
  
  p.ex1 {
    text-decoration-line: underline;
    text-decoration-style: dashed;
  }
  
  p.ex2 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }
  
  p.ex3 {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
  }
  
  a {
    text-decoration: none;
    color: #008CBA;
  }

  p.a {
    text-align-last: right;
  }
  
  p.b {
    text-align-last: center;
  }
  
  p.c {
    text-align-last: justify;
  }

  p.uppercase {
    text-transform: uppercase;
  }
  
  p.lowercase {
    text-transform: lowercase;
  }
  
  p.capitalize {
    text-transform: capitalize;
  }

  p.small {
    line-height: 0.7;
  }
  
  p.big {
    line-height: 1.8;
  }