body {
    background-image: url("toka.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
div {
    background-color: green;
    width: 300px;
    margin: auto;
    border: 1px solid red;
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

div.first {
    opacity: 0.1;
}

div.second {
    opacity: 0.3;
}

div.third {
    opacity: 0.6;
}

p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

p.one {
    border-style: solid;
    border-width: 5px 20px; /* 5px top and bottom, 20px on the sides */
    border-color: red;
    border-radius: 5px;
}

p.two {
    border-style: solid;
    border-width: 20px 5px; /* 20px top and bottom, 5px on the sides */
    border-color: green;
}

p.three {
    border-style: solid;
    border-width: 25px 10px 4px 35px; /* 25px top, 10px right, 4px bottom and 35px left */
}

p.four {
    border-style: dotted;
    border-width: thick;
    border-color: blue;
}

p.five {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
}